<template name="Accounts">
  <div class="content-wrapper">
    <div class="container">
    <section class="content-header">
      <h1>All Accounts
        <small>eXtreme Salon Accounts</small>
      </h1>

    </section>
    <section class="content">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">User List</h3>
          </div>
          <div class="box-body no-padding">
            <div class="col-xs-12">
              {{#linkTo route='accounts.add' class='btn btn-info pull-right'}}<i class="fa fa-user-plus"></i> NEW
                USER{{/linkTo}}
            </div>
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>User Name</th>
                <th>Employee Name</th>
                <th>Role</th>
                <th>Responcible Branches</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              {{#each managers}}
                {{>userAccount this}}
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>

    </section>
    </div>
  </div>
</template>
