<template name="customer">
  <div class="container">
    <section class="content-header">
      <h1>Customer</h1>
    </section>
    <section class="content">
      <div class="box box-solid">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          {{#if currentCustomer}}
            <div class="alert alert-info">
              <h3><i class="icon fa fa-user"></i> {{currentCustomer.name}}</h3>
            </div>
          {{else}}
            {{> quickForm collection="Customers" id="insertCustomersForm" type="insert" buttonContent="Add New Customer" omitFields="createdAt,branchId,staffId,items,total,active"}}
          {{/if}}
        </div>
      </div>
    </section>
  </div>
</template>