<template name="customer">
  <div class="container">
    <section class="content-header">
      <h1>Customer</h1>
    </section>
    <section class="content">
      <div class="box box-solid">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          {{> quickForm collection="Customers" id="insertCustomersForm" type="insert" buttonContent="Add New Customer" omitFields="createdAt,branchId,staffId,items,total,active"}}
        </div>
      </div>
    </section>
  </div>
</template>