<template name="customer">
  <div class="box box-solid">
    <div class="box-header with-border">
    </div>
    <div class="box-body">
      {{#if currentCustomer}}
        <div class="alert alert-danger">
          <h3><i class="icon fa fa-user"></i> {{currentCustomer.name}}</h3>
        </div>
      {{else}}
        <form id="insertCustomersForm">
          <div class="form-group" data-required="true">
            <label for="name" class="control-label">Customer name</label>
            <input type="text" name="name" id="name" required="" data-schema-key="name" class="form-control">
            <span class="help-block"></span>
          </div>
          <button type="submit" class="btn btn-primary">NEW CUSTOMER</button>
        </form>
      {{/if}}
    </div>
  </div>

</template>