<template name="Invoice">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Invoice
                <small>Render Invoice</small>
            </h1>
            <!--            <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                            <li class="active">Here</li>
                        </ol>-->
        </section>


        <!-- Main content -->
        <section class="content">
            <section class="invoice card">
                <!-- title row -->
                <div class="row">
                    <div class="col s12">
                        <h5 class="page-header">
                            <i class="fa fa-globe"></i> Extreme Salon
                            <small class="pull-right">Date: {{today}}</small>
                        </h5>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col s12 table-responsive">
                        {{>ServiceCart}}
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!--
                                <div class="row">
                                    <div class="col s12">
                                        <p class="bold">Amount Due 2/22/2014</p>

                                        <div class="table-responsive">
                                            <table class="bordered">
                                                <tbody>
                                                <tr>
                                                    <th style="width:50%">Subtotal:</th>
                                                    <td>$250.30</td>
                                                </tr>
                                                <tr>
                                                    <th>Tax (9.3%)</th>
                                                    <td>$10.34</td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping:</th>
                                                    <td>$5.80</td>
                                                </tr>
                                                <tr>
                                                    <th>Total:</th>
                                                    <td>$265.24</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    &lt;!&ndash; /.col &ndash;&gt;
                                </div>
                -->

                <div class="row no-print">
                     <div class="col s12" style="border-bottom: none;">
                         <a href="{{ pathFor 'print' }}" id="print"  class="btn btn-default"><i class="fa fa-print"></i>
                             Print</a>
                         <!--<button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
                         <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i>
                             Generate PDF
                         </button>-->
                     </div>
                </div>
            </section>
        </section>
    </div>

</template>
