<template name="Pos">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                System POS
                <small>Happy To Serve</small>
            </h1>
            <!--            <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                            <li class="active">Here</li>
                        </ol>-->
        </section>
        <section class="content">
            <div class="form-group">
                <label>Select Service</label>
                <select multiple="" class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </section>
    </div>
</template>
