<template name="Pos">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                System POS
                <small>Happy To Serve</small>
            </h1>
            <!--            <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                            <li class="active">Here</li>
                        </ol>-->
        </section>
        <section class="content">
            <div class="row">
                <div class="col-s-12">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control typeahead"   placeholder="Services"
                               autocomplete="on" spellcheck="on"
                               data-source="Services"/>
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-flat" type="button">Add</button>
                    </span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-s-12">
                <div class="box box-solid box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Warning Solid Box Example</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        The body of the box
                    </div><!-- /.box-body -->
                </div>
                </div>
            </div>


        </section>
    </div>
</template>
