<template name="Logo">
    <div class="jumbotron jumbotron-imag background-fade">
        <div id="top"></div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div class="clearfix"></div>

        <section id="mainslider">
            <div class="slider-wrapper">
                <div class="responisve-container">
                    <div class="slider">
                        <div class="fs_loader"></div>
                        <div class="slide">
                            <img src="images/example/slide1.jpg" alt="" width="1920" height="900" data-position="0,0" data-in="fade" data-delay="0" data-out="fade">

                            <h2 class="block-header text-center"><strong><i class="rt-icon-scissors-outline"></i> Length and trimming</strong></h2>
                            <h4 class="block-header text-center"><strong>Enhances hair's appearance</strong></h4>
                            <h4 class="block-header text-center"><strong>Keeps maintained</strong></h4>


                        </div>
                        <div class="slide" data-in="slideLeft">
                            <img src="images/example/slide2.jpg" alt="" width="1920" height="900" data-position="0,0" data-in="fade" data-delay="0" data-out="fade">

                            <h4 class="fs_dark" data-position="140,180" data-in="top" data-step="0" data-out="top"><strong><i class="rt-icon-brush"></i> Brushing and combing</strong></h4>
                            <p class="fs_light" data-position="262,180" data-in="left" data-step="1" data-delay="0"><strong>Organize and Untangle </strong></p>
                            <p class="fs_light" data-position="340,180" data-in="right" data-step="1" data-delay="400"><strong>Lots of detangling tools</strong></p>

                        </div>
                        <div class="slide" data-in="slideLeft">
                            <img src="images/example/slide3.jpg" alt="" width="1920" height="900" data-position="0,0" data-in="fade" data-delay="0" data-out="fade">

                            <h4 class="fs_dark" data-position="440,280" data-in="top" data-step="0" data-out="top"><strong><i class="rt-icon-sun"></i> Drying</strong></h4>
                            <p class="fs_light" data-position="562,280" data-in="left" data-step="1" data-delay="0"><strong>Speed the drying process</strong></p>
                            <p class="fs_light" data-position="640,280" data-in="right" data-step="1" data-delay="400"><strong>Accelerate water evaporation</strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="box_wrap">

            <section class="title_section" id="title_about">
                <div class="container">
                    <h2 class="block-header text-center">About Curlish</h2>
                    <div class="row">
                        <div class="col-sm-4 to_fadeIn_left">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/salon1.jpg" alt="" class="img-circle img-responsive">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/salon2.jpg" alt="" class="img-circle img-responsive">
                            </div>
                        </div>
                        <div class="col-sm-4 to_fadeIn_right">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/salon3.jpg" alt="" class="img-circle img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix vertical-margin-40"></div>
                    <div class="col-sm-offset-2 col-sm-8 to_rollIn text-center">
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <strong>Duis autem vel eum iriure</strong> dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum <a href="index.html#">zzril delenit augue</a> duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                    </div>

                </div>
            </section>

            <section id="team" class="title_section">
                <div class="container">
                    <h2 class="block-header text-center">Meet The Team</h2>
                    <div class="row">
                        <div class="col-sm-3 team-member to_fadeIn_left">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/team_1.jpg" alt="" class="img-circle img-responsive">
                            </div>
                            <h4>Jessica Doe</h4>
                            <p>Lorem ipsum ipsum dolor sit ametdolor sit amet, consectetur adipisicing elit. Ipsum repellat possimus laboriosam et.</p>
                            <div class="team-social">
                                <a class="socialico-facebook" href="index.html#" title="Facebook">#</a>
                                <a class="socialico-twitter" href="index.html#" title="Twitter">#</a>
                                <a class="socialico-dribble" href="index.html#" title="LinkedIn">#</a>
                            </div>
                        </div>
                        <div class="col-sm-3 team-member to_fadeIn_down">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/team_2.jpg" alt="" class="img-circle img-responsive">
                            </div>
                            <h4>Sarah Doe</h4>
                            <p>Lorem ipsum ipsum dolor sit ametdolor sit amet, consectetur adipisicing elit. Ipsum repellat possimus laboriosam et.</p>
                            <div class="team-social">
                                <a class="socialico-facebook" href="index.html#" title="Facebook">#</a>
                                <a class="socialico-twitter" href="index.html#" title="Twitter">#</a>
                                <a class="socialico-dribble" href="index.html#" title="LinkedIn">#</a>
                            </div>
                        </div>
                        <div class="col-sm-3 team-member to_fadeIn_down">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/team_3.jpg" alt="" class="img-circle img-responsive">
                            </div>
                            <h4>Nicky Smith</h4>
                            <p>Lorem ipsum ipsum dolor sit ametdolor sit amet, consectetur adipisicing elit. Ipsum repellat possimus laboriosam et.</p>
                            <div class="team-social">
                                <a class="socialico-facebook" href="index.html#" title="Facebook">#</a>
                                <a class="socialico-twitter" href="index.html#" title="Twitter">#</a>
                                <a class="socialico-dribble" href="index.html#" title="LinkedIn">#</a>
                            </div>
                        </div>
                        <div class="col-sm-3 team-member to_fadeIn_right">
                            <div class="img-wrapper">
                                <div class="img-overlay"></div>
                                <img src="images/example/team_4.jpg" alt="" class="img-circle img-responsive">
                            </div>
                            <h4>Jerry Drith</h4>
                            <p>Lorem ipsum ipsum dolor sit ametdolor sit amet, consectetur adipisicing elit. Ipsum repellat possimus laboriosam et.</p>
                            <div class="team-social">
                                <a class="socialico-facebook" href="index.html#" title="Facebook">#</a>
                                <a class="socialico-twitter" href="index.html#" title="Twitter">#</a>
                                <a class="socialico-dribble" href="index.html#" title="LinkedIn">#</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="testimonials" class="parallax dark_section"><div class="container">
                <div class="row">
                    <div class="col-sm-12 to_lightSpeedIn">
                        <div class="carousel slide widget_testimonials block" id="carousel-testimonials">
                            <a data-slide="prev" href="index.html#carousel-testimonials" class="carousel-control left"></a>
                            <a data-slide="next" href="index.html#carousel-testimonials" class="carousel-control right"></a>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p class="carousel-introtext">
                                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                                    </p>
                                    <p class="carousel-readmore">
                                        Jack Black
                                    </p>
                                </div>
                                <div class="item">
                                    <p class="carousel-introtext">
                                        <span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
                                    </p>
                                    <p class="carousel-readmore">
                                        John White
                                    </p>
                                </div>

                            </div>
                        </div>


                    </div>
                </div></div>
            </section>

            <section id="services" class="">
                <div class="container">


                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="block-header">Our Services</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quisquam, provident cum ipsum aperiam a excepturi perferendis ut magnam eius deserunt repellendus ad impedit. Dicta repellat impedit quos quis sint.</p>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-sm-12">

                            <!-- Horizontal Slider -->

                            <div class="horizontal_slider_list_wrapper related-posts">
                                <div id="horizontal_slider">
                                    <ul class="horizontal_slider_list">
                                        <li>
                                            <article class="post to_fadeIn_left format-standard">
                                                <header class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <div class="img-overlay"></div>
                                                        <img src="images/example/intro_img1.jpg" class="post-image" alt="">
                                                    </div>
                                                </header>
                                                <!-- .entry-header -->

                                                <div class="entry-content">
                                                    <h2 class="entry-title">
                                                        Hairstyle #1
                                                    </h2>

                                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam.</p>
                                                    <table class="hairstyle_price">
                                                        <tbody>
                                                        <tr>
                                                            <th>Cut</th>
                                                            <th>Men</th>
                                                            <th>Women</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Beginner Stylist</td>
                                                            <td>$50</td>
                                                            <td>$60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Senior Stylist</td>
                                                            <td>$80</td>
                                                            <td>$90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Master Stylist</td>
                                                            <td>$100</td>
                                                            <td>$110</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- .entry-content -->
                                            </article>
                                        </li>
                                        <li>
                                            <article class="post to_fadeIn_down format-standard border-color2">
                                                <header class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <div class="img-overlay"></div>
                                                        <img src="images/example/intro_img2.jpg" class="post-image" alt="">
                                                    </div>
                                                </header>
                                                <!-- .entry-header -->

                                                <div class="entry-content">
                                                    <h2 class="entry-title">
                                                        Hairstyle #2
                                                    </h2>

                                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam.</p>
                                                    <table class="hairstyle_price">
                                                        <tbody>
                                                        <tr>
                                                            <th>Cut</th>
                                                            <th>Men</th>
                                                            <th>Women</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Beginner Stylist</td>
                                                            <td>$50</td>
                                                            <td>$60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Senior Stylist</td>
                                                            <td>$80</td>
                                                            <td>$90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Master Stylist</td>
                                                            <td>$100</td>
                                                            <td>$110</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- .entry-content -->
                                            </article>
                                        </li>
                                        <li>
                                            <article class="post to_fadeIn_right format-standard border-color3">
                                                <header class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <div class="img-overlay"></div>
                                                        <img src="images/example/intro_img3.jpg" class="post-image" alt="">
                                                    </div>
                                                </header>
                                                <!-- .entry-header -->

                                                <div class="entry-content">
                                                    <h2 class="entry-title">
                                                        Hairstyle #3
                                                    </h2>

                                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam.</p>
                                                    <table class="hairstyle_price">
                                                        <tbody>
                                                        <tr>
                                                            <th>Cut</th>
                                                            <th>Men</th>
                                                            <th>Women</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Beginner Stylist</td>
                                                            <td>$50</td>
                                                            <td>$60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Senior Stylist</td>
                                                            <td>$80</td>
                                                            <td>$90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Master Stylist</td>
                                                            <td>$100</td>
                                                            <td>$110</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- .entry-content -->
                                            </article>
                                        </li>
                                        <li>
                                            <article class="post format-standard">
                                                <header class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <div class="img-overlay"></div>
                                                        <img src="images/example/intro_img4.jpg" class="post-image" alt="">
                                                    </div>
                                                </header>
                                                <!-- .entry-header -->

                                                <div class="entry-content">
                                                    <h2 class="entry-title">
                                                        Hairstyle #4
                                                    </h2>

                                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam.</p>
                                                    <table class="hairstyle_price">
                                                        <tbody>
                                                        <tr>
                                                            <th>Cut</th>
                                                            <th>Men</th>
                                                            <th>Women</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Beginner Stylist</td>
                                                            <td>$50</td>
                                                            <td>$60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Senior Stylist</td>
                                                            <td>$80</td>
                                                            <td>$90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Master Stylist</td>
                                                            <td>$100</td>
                                                            <td>$110</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- .entry-content -->
                                            </article>
                                        </li>
                                        <li>
                                            <article class="post format-standard border-color2">
                                                <header class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <div class="img-overlay"></div>
                                                        <img src="images/example/intro_img5.jpg" class="post-image" alt="">
                                                    </div>
                                                </header>
                                                <!-- .entry-header -->

                                                <div class="entry-content">
                                                    <h2 class="entry-title">
                                                        Hairstyle #5
                                                    </h2>

                                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam.</p>
                                                    <table class="hairstyle_price">
                                                        <tbody>
                                                        <tr>
                                                            <th>Cut</th>
                                                            <th>Men</th>
                                                            <th>Women</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Beginner Stylist</td>
                                                            <td>$50</td>
                                                            <td>$60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Senior Stylist</td>
                                                            <td>$80</td>
                                                            <td>$90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Master Stylist</td>
                                                            <td>$100</td>
                                                            <td>$110</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- .entry-content -->
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--EOF Horizontal Slider -->

                        </div>
                    </div>

                </div>
            </section>

            <section id="special" class="darkgrey_section parallax">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2 class="block-header">Special features</h2>
                                <h3>Lorem minus reiciendis minima dolor</h3>
                            </div>
                        </div>

                        <div class="row to_lightSpeedIn">

                            <div class="block col-sm-3">
                                <div class="single_teaser icons style1">
                                    <div class="icons_introimg image-icon">
                                        <i class="rt-icon-newspaper"></i>
                                    </div>
                                    <h3><a href="index.html#">Allways Tuned</a></h3>
                                    <p class="introtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>

                                </div>
                            </div>
                            <div class="block col-sm-3">
                                <div class="single_teaser icons style1">
                                    <div class="icons_introimg image-icon">
                                        <i class="rt-icon-calendar2"></i>
                                    </div>
                                    <h3><a href="index.html#">Allways In Time</a></h3>
                                    <p class="introtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>

                                </div>
                            </div>
                            <div class="block col-sm-3">
                                <div class="single_teaser icons style1">
                                    <div class="icons_introimg image-icon">
                                        <i class="rt-icon-briefcase"></i>
                                    </div>
                                    <h3><a href="index.html#">Work At First</a></h3>
                                    <p class="introtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>

                                </div>
                            </div>
                            <div class="block col-sm-3">
                                <div class="single_teaser icons style1">
                                    <div class="icons_introimg image-icon">
                                        <i class="rt-icon-email2"></i>
                                    </div>
                                    <h3><a href="index.html#">Client Feedback</a></h3>
                                    <p class="introtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section id="portfolio" class="fullwidth_portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="block-header">Portfolio</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, non, iste praesentium ullam
                                voluptate tenetur dolor impedit possimus repellat labore provident quisquam nostrum doloribus quis
                                dolorum perferendis dolore sint hic.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="portfolio_wrapper" class="col-sm-12">
                            <div class="text-center filters">
                                <ul id="filtrable">
                                    <li><a class="selected" data-filter="*" href="index.html#">All</a></li>
                                    <li><a data-filter=".curly" href="index.html#" class="">Curly</a></li>
                                    <li><a data-filter=".straight" href="index.html#" class="">Straight</a></li>
                                    <li><a data-filter=".mixed" href="index.html#" class="">Mixed</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <ul class="row portfolio filtrable clearfix isotope to_rollIn" id="portfolioContainer">
                        <li class="item isotope-item col-sm-3 curly mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img1.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img1.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 straight mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img2.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img2.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 straight mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img3.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img3.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img4.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img4.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img5.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img5.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img6.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img6.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 straight mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img7.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img7.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img8.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img8.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img9.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img9.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img10.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img10.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly straight">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img11.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img11.jpg"></a>
                                </div>
                            </div>
                        </li>
                        <li class="item isotope-item col-sm-3 curly mixed">
                            <div class="portfolio_item_image">
                                <div class="img-overlay"></div>
                                <img alt="" src="images/example/intro_img12.jpg">

                                <div class="portfolio_links">
                                    <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]"
                                       href="images/example/intro_img12.jpg"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="" id="faq">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="block-header">Frequency Asked Questions</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit.</p>
                        </div>
                    </div>

                    <div class="row to_flipX">
                        <div class="col-sm-6">

                            <div class="block widget_accordion">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="index.html#collapseOne">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="index.html#collapseTwo">
                                                    Fugit, assumenda enim quod deserunt quibusdam.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="index.html#collapseThree">
                                                    Repellendus tenetur et voluptates nobis harum nulla enim maxime!
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="index.html#collapseFour">
                                                    Nisi maiores in accusamus reprehenderit corporis eaque.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="block widget_accordion">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="index.html#collapseFive">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="index.html#collapseSix">
                                                    Fugit, assumenda enim quod deserunt quibusdam.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="index.html#collapseSeven">
                                                    Repellendus tenetur et voluptates nobis harum nulla enim maxime!
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="index.html#collapseEight">
                                                    Nisi maiores in accusamus reprehenderit corporis eaque.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                At vero eos et accusam et justo dolores et ea rebum. Ut wisi enim minim veniam, quis nostrud exerci tation.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="experience" class="grey_section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="block-header">Our Experience</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, temporibus, corporis.</p>
                        </div>
                    </div>

                    <div class="row text-center to_flipY">
                        <div class="col-md-3 col-sm-6">
                            <h4 class="text-center">Length and trimming</h4>
        <span data-percent="95" class="chart">
          <span class="percent"></span>
        </span>
                            <p>Lorem impum dolor sit amet tation ullamcorper suscipit.</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="text-center">Brushing and combing</h4>
        <span data-percent="92" class="chart">
          <span class="percent"></span>
        </span>
                            <p>Lorem impum dolor sit amet tation ullamcorper suscipit.</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="text-center">Drying</h4>
        <span data-percent="99" class="chart">
          <span class="percent"></span>
        </span>
                            <p>Lorem impum dolor  tation ullamcorper suscipit.sit amet </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="text-center">Braiding and updos</h4>
        <span data-percent="91" class="chart">
          <span class="percent"></span>
        </span>
                            <p>Lorem impum dolor tation ullamcorper suscipit. sit amet </p>
                        </div>

                    </div>
                </div>
            </section>

            <section id="map_wrap">
                <div id="map"></div>
            </section>

            <section id="contact" class="">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2 class="block-header text-center">Contact Us</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, doloremque rerum molestias veritatis dolor nostrum omnis ullam voluptatem fugit velit! Inventore, ullam omnis itaque fuga optio beatae esse odio vero?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="contact-form">
                                    <form class="contact-form" method="post" action="http://preview.hotbootstrap.com/">
                                        <p class="contact-form-name">
                                            <label for="name">Name <span class="required">*</span></label>
                                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control to_fadeIn_left" placeholder="Name">
                                        </p>
                                        <p class="contact-form-email">
                                            <label for="email">Email <span class="required">*</span></label>
                                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control to_fadeIn_right" placeholder="Email">
                                        </p>
                                        <p class="contact-form-message">
                                            <label for="message">Comment</label>
                                            <textarea aria-required="true" rows="5" cols="65" name="message" id="message" class="form-control to_fadeIn_down" placeholder="Message"></textarea>
                                        </p>
                                        <p class="contact-form-submit text-center vertical-margin-81">
                                            <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_btn">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="copyright" class="dark_section">
                <div class="container"><div class="row">

                    <div class="col-sm-12"><p class="text-center">&copy; Copyright 2014. <a href="index.html#" target="_blank">Yoursite.com</a></p></div>

                </div></div>
            </section>

        </div><!-- EOF #box_wrap -->

        <div id="gallery_container"></div>
        </div>
</template>
