<template name="Branches">
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>Branches
          <small>List Of Current Branches</small>
        </h1>
      </section>
      <section class="content">
        <div class="container">
          <div class="box box-danger">

            <div class="box-header"><h3 class="box-title">Branch List</h3></div>
            <div class="col-xs-12">
              {{#linkTo route='dashboard.branch.add' class='btn btn-info pull-right'}}NEW Branch{{/linkTo}}
            </div>
            <div class="box-body no-padding">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each branchList}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.location}}</td>
                    <td>
                      {{#linkTo route='updateBranch' id=this._id class='btn btn-info'}}<i
                        class="fa fa-refresh"></i>{{/linkTo}}
                      {{#quickRemoveButton collection="Branches" class='btn btn-danger' _id=this._id}}
                        <i class="fa fa-trash"></i>
                      {{/quickRemoveButton}}
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
