<template name="NotActive">
  {{#unless connectedBranches}}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Account Inactive
          <small>Current Account Still Inactive</small>
        </h1>
      </section>
      <!-- Content Header (Page header) -->

      <!-- Main content -->
      <section class="content">
        <div class="callout callout-danger">
          <h4>Warning!</h4>

          <p>The account that you are tyring to use hasn't been setup. You might need to contact your local
            administrator
            and request for you to be added to a branch</p>
        </div>
      </section>
      <!-- /.content -->
    </div>
  {{/unless}}

</template>