<template name="sidebar">
  <aside class="main-sidebar">
    <section class="sidebar">
       <div class="user-panel">
           <div class="pull-left info">
               <p>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</p>
           </div>
       </div>
    <ul class="sidebar-menu">
        <li class="header"><h4>DashBoard Menu</h4></li>
       {{ isActiveRoute regex='dashboard.sales' }}"><a href="{{ pathFor 'dashboard.sales' }}"><span>Sales</span></a>-->
      {{#if isAdmin}}
          <li class="{{ isActiveRoute regex='accounts' }}">
            <a href="{{ pathFor 'accounts' }}"><i class="fa fa-users"></i> <span>Manage Accounts</span></a>
          </li>
          <li class="{{ isActiveRoute regex='dashboard.branch' }}">
            <a href="{{ pathFor 'dashboard.branch' }}"><i class="fa fa-building-o"></i><span>Manage Branches</span></a>
          </li>
        {{/if}}
        <li class="treeview" id="services-tab">
          <a href="{{ pathFor 'dashboard.services'}}">
            <i class="fa fa-scissors"></i><span>Services</span>{{#if isAdmin}}<i class="fa fa-angle-left pull-right"></i>{{/if}}
          </a>
          {{#if isAdmin}}
            <ul class="treeview-menu">
              <li class="{{ isActiveRoute regex='dashboard.services.add'}}">
                <a href="{{ pathFor 'dashboard.services.add' }}">
                  <span>Add Services</span>
                </a>
              </li>
              <li class="{{ isActiveRoute regex='dashboard.packages.add' }}">
                <a href="{{ pathFor 'dashboard.packages.add' }}"><span>Add Packages</span>
                </a>
              </li>
            </ul>
          {{/if}}
        </li>
        <li class="treeview" id="products-tab">
          <a href="#"> <i class="fa fa-shopping-cart"></i><span>Products</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{ isActiveRoute regex='dashboard.products' }}"><a href="{{ pathFor 'dashboard.products' }}"><span>Product List</span></a></li>
            <li class="{{ isActiveRoute regex='dashboard.products.add' }}"><a href="{{ pathFor 'dashboard.products.add' }}"><span>Add Product From Inventory</span></a>
            </li>
          </ul>
        </li>
        <li class="treeview" id="inventory-tab">
          <a href="#"> <i class="fa fa-list"></i><span>Inventory</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{ isActiveRoute regex='dashboard.inventory' }}"><a href="{{ pathFor 'dashboard.inventory' }}"><span>Inventory List</span></a></li>
            <li class="{{ isActiveRoute regex='dashboard.inventory.add' }}"><a href="{{ pathFor 'dashboard.inventory.add' }}"><span>Add Inventory Item</span></a></li>
          </ul>
        </li>
      <li class="{{ isActiveRoute regex='dashboard.staff' }}"><a href="{{ pathFor 'dashboard.staff' }}"><i class="fa fa-smile-o"></i><span>Staff</span></a></li>
      <li class="{{ isActiveRoute regex='dashboard.pos' }}"><a
        href="{{ pathFor 'dashboard.pos' }}"> <i class="fa fa-dollar"></i><span>POS</span></a></li>

      </ul>
    </section>
  </aside>
</template>