<template name="Staff">
  <div class="staff">
    <div class="content-wrapper">
      <div class="container">
        <section class="content-header">
          <h1>All Staff
            <small>eXtreme Salon Staff</small>
          </h1>

        </section>
        <section class="content">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Staff List</h3>
            </div>
            <div class="box-body no-padding">
              <div class="col-xs-12">
                {{#linkTo route='dashboard.staff.add' class='btn btn-info pull-right'}}<i class="fa fa-user-plus"></i> NEW
                  Staff{{/linkTo}}
              </div>
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>User Name</th>
                  <th>Employee Name</th>
                  <th>Designated Branch</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each staff}}
                  {{>userAccount this}}
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</template>
