<template name="_header">
  <header class="main-header">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <!-- Logo -->
      <!--<a href="{{pathFor 'dashboard'}}" class="logo brand=logo"><img class="img-responsive brand-logo" src="/images/xtreme-logo.png"></a>-->
      <a href="{{pathFor 'dashboard'}}" class="logo brand=logo">
        <img class="center-block img-responsive brand-logo" src="/images/xtreme-logo.png" style="margin-top:-6px;">
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            {{#if Branches}}
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Select Branch</li>
                  <li>
                    <div class="slimScrollDiv" style="height: auto">
                      <ul class="menu">
                        {{#each Branches}}
                          <li class="branch-item">
                            <a value="{{this._id}}" href="#">
                              <h3>
                                {{this.name}}
                                <small class="pull-right">{{this.location}}</small>
                              </h3>
                            </a>
                          </li>
                        {{/each}}
                      </ul>
                      <div class="slimScrollBar"></div>
                    </div>
                  </li>
                </ul>
              </li>
            {{/if}}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-footer">
                  <div class="center-block">
                    <a href="#" data-action="logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          {{else}}
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  {{>sidebar}}
</template>
