<template name="Services">
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>
          Services
          <small>Current Services</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="box box-default">
              <div class="box-header with-border">
                <i class="fa fa-bookmark-o"></i>

                <h3 class="box-title">Service Menu</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <a href="{{ pathFor 'dashboard.services' }}">
                  <div class="callout callout-info">
                    <h4>Services</h4>
                  </div>
                </a>
                <a href="{{ pathFor 'dashboard.packages' }}">
                  <div class="callout">
                    <h4>Packages</h4>
                  </div>
                </a>

              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <div class="col-md-8">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">List Of Single Services</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody>
                  <tr>
                    <th>Service</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Operations</th>
                  </tr>
                  {{#each Services}}
                    {{>ServiceInfo name=this.name description=this.description price=this.price id=this._id}}
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          {{>ServiceCart}}
        </div>
        {{>PrintPreview}}
      </section>
    </div>
  </div>
</template>
