<template name="stocks">
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>Current Stocks
          <small>eXtreme Salon Stocks</small>
        </h1>

      </section>
      <section class="content">
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Item List</h3>
          </div>
          <div class="box-body no-padding">
            <div class="col-xs-12">

            </div>
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Sales Price</th>
                <th>Operations</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

      </section>
    </div>
  </div>

</template>