<template name="stocks">
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>Current Stocks
          <small>eXtreme Salon Stocks</small>
        </h1>

      </section>
      <section class="content">
        <div class="container">
          {{#each Branches}}
            <div class="box box-danger">
              <div class="box-header with-border">
                <h3 class="box-title">Stock List for {{this.name}} </h3>
              </div>
              <div class="box-body">
                <div class="col-xs-12">

                </div>
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Total Quantity</th>
                    <th>Sales Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each currentStocks this._id}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td><span class="{{isLowLevel this.qty}}">{{this.qty}}</span></td>
                    <td>{{getItemPrice this.id}}</td>
                  </tr>

                  {{/each}}
                  </tbody>
                </table>
              </div>
              <div class="box-footer">
                {{#if isAdmin}}
                  <div class="container">
                    {{#linkTo route='dashboard.stocks.add' class='btn btn-info pull-right' id=this._id}}
                      <i class="fa fa-plus"></i>
                      Restock
                    {{/linkTo}}
                  </div>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </div>
  </div>

</template>