/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.main-header > .navbar {
    margin-left: auto;
    position: fixed !important;
}

body {
    padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    font-style: italic;
    text-transform: none;
}

.form-control {
    color: black;
}